.flexRowContent--main-header {
    background-color: black;
    color: #fff;
}
@media screen and (max-width: 40em) {
    .flexRowContent--main-header {
        padding: 0 10px;
        justify-content: space-around;
    }
}

.flexRow--deals {
    max-width: 90%;
    margin: 0 auto 10px;
}
.flexRow--deals .flexCol {
    display: flex;
    align-items: center;
}
.flexRowContent--result-container {
    justify-content: center;
}
.flexRow--container-tiendas {
    width: 90%;
    margin: 0 auto;
}