.container {
    padding: 5px;
}
.container :global(.vtex-button) {
    border-radius: 0;
}
.container :global(.vtex-add-to-cart-button-0-x-buttonText), .buyButtonText {
    font-size: 16px;
    text-transform: none;
}
.element {
    justify-content: space-between;
}
.nameContainer, .priceContainer {
    padding: 0.5rem 0;
}